@import "tailwindcss";
@plugin "daisyui";

@import 'swiper/css'; 
@import 'swiper/css/navigation'; 
@import 'swiper/css/pagination';

/* Light Theme (Default) */
:root {
  --navbar-color: #c5cfd5;
  --light-bg-color: #f0f4f8;
  --text-color: #263238;
  --accent-color: #239ba7;
  --hover-color: #3ab4c2;
}

/* Dark Theme */
.dark {
  --bg-color: #1a202c;
  --text-color: #f0f4f8;
  --card-bg: #2d3748; /* Your card background color */
  --card-border: #4a5568; /* A very subtle border color */
  --card-shadow-color: rgba(0, 0, 0, 0.4);
}

.category-card {
  /* Existing styles */
  background-color: var(--card-bg);
  color: var(--text-color);

  
  /* Add a border and shadow for visibility */
  border: 1px solid var(--card-border);
  box-shadow: 0 4px 6px -1px var(--card-shadow-color),
              0 2px 4px -1px var(--card-shadow-color);
}

/* Base styles that use the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--navbar-color);
}

.bg-secondary {
  background-color: var(--bg-color);
}

.btn-accent {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.btn-accent:hover {
  background-color: var(--hover-color);
}

.dark-bg{
  background-color: var(--bg-color);
}

