@import "tailwindcss";
@plugin "daisyui";

@import 'swiper/css'; 
@import 'swiper/css/navigation'; 
@import 'swiper/css/pagination';

/* Light Theme (Default) */
:root {
  --navbar-color: #c5cfd5;
  --bg-color: #f0f4f8;
  --text-color: #263238;
  --accent-color: #239ba7;
  --hover-color: #3ab4c2;
}

/* Dark Theme */
.dark {
  --navbar-color: #2d3748;
  --bg-color: #1a202c;
  --text-color: #f0f4f8;
  --accent-color: #239ba7;
  --hover-color: #3ab4c2;
}

/* Base styles that use the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--navbar-color);
}

.bg-secondary {
  background-color: var(--bg-color);
}

.btn-accent {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.btn-accent:hover {
  background-color: var(--hover-color);
}